@import url(https://fonts.googleapis.com/css?family=Open+Sans|Fira+Sans+Extra+Condensed|Fira+Mono);

body { 
	font-family: 'Open Sans', sans-serif;
	font-size: 75%;
}

h1, h2, h3, h4, h5 {
	font-family: 'Fira Sans Extra Condensed', sans-serif;;
	font-weight: normal;
}

h2 {
	margin-top: 1rem;
	border-bottom: 1px solid lightgray;
}

h3, h4, h5 {
	margin: 1rem 0;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 20px;
}

ul {
	margin-left: -1rem;
}

pre {
	margin: 0;
}

blockquote {
	border-left: .5rem solid lightgray;
	margin-left: 0rem;
	padding-left: 1rem;
	text-align: justify;
}

table {
	border-collapse: collapse;
	text-align: center;
}

table, th, td {
	border: 1px solid black;
}

	th, td {
		padding: .25rem .5rem;
	}

textarea { display: none; }

.remark-code, .remark-inline-code { 
	font-family: 'Fira Mono', monospace;
	border-radius: .25em;
}

.remark-inline-code {
	font-size: .85em;
	background-color: #efefef;
	border: 1px solid #e0e0e0;
	padding: .25em;
}

.hljs-subst { color: black; }
.hljs-number { color: #a31515; }

.remark-slide-content {
	/*background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	display: table-cell;*/
	font-size: 18px;
	/*padding: 1em 4em 1em 4em;*/
}

.remark-code {
	font-size: 16px;
	line-height: 1.15;
	border: 1px solid lightgrey;
    background: #fcfcfc !important;
}

.footnote {
	position: absolute;
	bottom: 0;
	font-size: 14px;
}